global:
  dynamic:
    plugins:
      # disable broken extensions plugin
      - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-extensions
        disabled: true
      - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-extensions-backend-dynamic
        disabled: true
      - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-catalog-backend-module-extensions-dynamic
        disabled: true

      # enable rbac plugin
      - package: ./dynamic-plugins/dist/backstage-community-plugin-rbac
        disabled: false

      # test scorecard plugin
      - package: oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/red-hat-developer-hub-backstage-plugin-scorecard:pr_1807__2.3.0!red-hat-developer-hub-backstage-plugin-scorecard
        pluginConfig:
          dynamicPlugins:
            frontend:
              red-hat-developer-hub.backstage-plugin-scorecard:
                entityTabs:
                  - mountPoint: entity.page.scorecard
                    path: /scorecard
                    title: Scorecard
                    titleKey: entityTab.title # does not exist yet
                    # config:
                    #   if:
                    #     allOf:
                    #       - isBookmarksAvailable
                mountPoints:
                  - mountPoint: entity.page.scorecard/cards
                    importName: EntityScorecardContent
                    config:
                      layout:
                        gridColumn: 1 / -1
      - package: oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/red-hat-developer-hub-backstage-plugin-scorecard-backend:pr_1807__2.3.0
      - package: oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/red-hat-developer-hub-backstage-plugin-scorecard-backend-module-github:pr_1807__2.3.0
      - package: oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/red-hat-developer-hub-backstage-plugin-scorecard-backend-module-jira:pr_1807__2.3.0
      - package: oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/red-hat-developer-hub-backstage-plugin-scorecard-backend-module-openssf:pr_1807__0.1.0

      # test scorecard related plugins
      - package:  oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/backstage-community-plugin-github-issues:bs_1.45.3__0.16.0
        disabled: true

      - package: oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/backstage-community-plugin-github-pull-requests-board:bs_1.45.3__0.12.0
        disabled: true

      - package: oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/roadiehq-backstage-plugin-github-pull-requests:bs_1.45.3__3.6.2
        disabled: true

      - package: oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/roadiehq-backstage-plugin-jira:bs_1.45.3__2.14.0
        disabled: true

      # test config viewer
      - package: oci://ghcr.io/redhat-developer/rhdh-plugin-export-overlays/proberaum-backstage-plugin-config-viewer:next__0.4.1!proberaum-backstage-plugin-config-viewer
        pluginConfig:
          dynamicPlugins:
            frontend:
              proberaum.backstage-plugin-config-viewer:
                translationResources:
                  - importName: configViewerTranslations
                    ref: configViewerTranslationRef
                dynamicRoutes:
                  - path: /config-viewer
                    importName: ConfigViewerPage
                    menuItem:
                      text: Config viewer (from yaml)

upstream:
  backstage:
    image:
      registry: quay.io
      repository: rhdh-community/rhdh
      tag: next
      pullPolicy: IfNotPresent

    appConfig:
      catalog:
        rules:
          - allow: [Component, System, API, Resource, Location]
        locations:
          - type: url
            target: https://github.com/christoph-jerolimov/rhdh-experiments/blob/main/test-catalog/all.yaml
            rules:
              - allow: [Component, System, API, Resource, Location, User, Group]

          # test scorecard plugin
          - type: url
            target: https://github.com/redhat-developer/rhdh-plugins/blob/main/workspaces/scorecard/examples/github-scorecard-only.yaml
          - type: url
            target: https://github.com/redhat-developer/rhdh-plugins/blob/main/workspaces/scorecard/examples/jira-scorecard-only.yaml
          - type: url
            target: https://github.com/redhat-developer/rhdh-plugins/blob/main/workspaces/scorecard/examples/openssf-scorecard-only.yaml
          - type: url
            target: https://github.com/redhat-developer/rhdh-plugins/blob/main/workspaces/scorecard/examples/all-scorecards.yaml
          - type: url
            target: https://github.com/redhat-developer/rhdh-plugins/blob/main/workspaces/scorecard/examples/no-scorecards.yaml

      dynamicPlugins:
        frontend:
          default.main-menu-items:
            menuItems:
              default.home:
                title: Home (changed)

      i18n:
        locales:
          - en
          - de
          - es
          - fr
          - it
          - ja

      permission:
        # TODO
        enabled: false
        rbac:
          pluginsWithPermission:
            - catalog
            - permission
            - scaffolder
            - scorecard
          # policyFileReload: true
          # policies-csv-file: ./rbac/rbac-policies.csv
          # conditionalPoliciesFile: ./rbac-conditions/rbac-conditional-policies.yaml
          admin:
            superUsers:
              - name: user:default/christoph-jerolimov
            users:
              - name: user:default/rhdh-qe

  # reduce memory usage
  postgresql:
    primary:
      resources:
        requests:
          cpu: 250m
          memory: 256Mi
        limits:
          cpu: 250m
          memory: 256Mi
