global:
  dynamic:
    plugins:
      - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-quickstart
        disabled: false
        pluginConfig:
          app:
            quickstart:
            - title: Set up authentication
              titleKey: steps.setupAuthentication.title
              icon: Admin
              description: Set up secure login credentials to protect your account from unauthorized access.
              descriptionKey: steps.setupAuthentication.description
              cta:
                text: Learn more
                textKey: steps.setupAuthentication.ctaTitle
                link: https://docs.redhat.com/en/documentation/red_hat_developer_hub/latest/html/authentication_in_red_hat_developer_hub/
            - title: Configure RBAC
              titleKey: steps.configureRbac.title
              icon: Rbac
              description: Assign roles and permissions to control who can view, create, or edit resources, ensuring secure and
                efficient collaboration.
              descriptionKey: steps.configureRbac.description
              cta:
                text: Manage access
                textKey: steps.configureRbac.ctaTitle
                link: /rbac
            - title: Configure Git
              titleKey: steps.configureGit.title
              icon: Git
              description: Connect your Git providers, such as GitHub to manage code, automate workflows, and integrate with platform
                features.
              descriptionKey: steps.configureGit.description
              cta:
                text: Learn more
                textKey: steps.configureGit.ctaTitle
                link: https://docs.redhat.com/en/documentation/red_hat_developer_hub/latest/html/integrating_red_hat_developer_hub_with_github/
            - title: Manage plugins
              titleKey: steps.managePlugins.title
              icon: Plugins
              description: Browse and install extensions to add features, connect with external tools, and customize your experience.
              descriptionKey: steps.managePlugins.description
              cta:
                text: Explore plugins
                textKey: steps.managePlugins.ctaTitle
                link: /extensions
            - title: Import application
              roles:
              - developer
              icon: Import
              description: Import your existing code and services into the catalog to organize and access them through your developer
                portal.
              cta:
                text: Import
                link: /bulk-import/repositories
            - title: Learn about the Catalog
              roles:
              - developer
              icon: Catalog
              description: Discover all software components, services, and APIs, and view their owners and documentation.
              cta:
                text: View Catalog
                link: /catalog
            - title: Explore Self-service templates
              roles:
              - developer
              icon: SelfService
              description: Use our self-service templates to quickly set up new projects, services, or documentation.
              cta:
                text: Explore templates
                link: /create
            - title: Find all Learning Paths
              roles:
              - developer
              icon: Learning
              description: Integrate tailored e-learning into your workflows with Learning Paths to accelerate onboarding, close
                skill gaps, and promote best practices.
              cta:
                text: View Learning Paths
                link: /learning-paths
          dynamicPlugins:
            frontend:
              red-hat-developer-hub.backstage-plugin-quickstart:
                translationResources:
                - importName: quickstartTranslations
                  module: Alpha
                  ref: quickstartTranslationRef
                mountPoints:
                - mountPoint: application/provider
                  importName: QuickstartDrawerProvider
                - mountPoint: application/internal/drawer-state
                  importName: QuickstartDrawerStateExposer
                - mountPoint: application/internal/drawer-content
                  importName: QuickstartDrawerContent
                  config:
                    id: quickstart
                - mountPoint: global.header/help
                  importName: QuickstartButton
                  config:
                    priority: 100

upstream:
  backstage:
    image:
      registry: quay.io
      repository: rhdh-community/rhdh
      tag: pr-4072
      pullPolicy: Always

    appConfig:
      catalog:
        rules:
          - allow: [Component, System, API, Resource, Location]
        locations:
          - type: url
            target: https://github.com/christoph-jerolimov/rhdh-experiments/blob/main/catalog/all.yaml
            rules:
              - allow: [Component, System, API, Resource, Location, User, Group]
          - type: url
            target: https://github.com/christoph-jerolimov/rhdh-experiments/blob/main/features/github/catalog.yaml
            rules:
              - allow: [Component, System, API, Resource, Location, User, Group]
          - type: url
            target: https://github.com/redhat-developer/rhdh/blob/main/catalog-info.yaml
          - type: url
            target: https://github.com/redhat-developer/rhdh-cli/blob/main/catalog-info.yaml

      i18n:
        locales:
          - en
          - de
          - fr
          - it
          - ja
          - ko
          - en-US
          - en-IN
          - en-UK
          - zh
          - pt-BR
          - zh-CN

      permission:
        enabled: true
        rbac:
          pluginsWithPermission:
            - catalog
            - permission
            - scaffolder
          # policyFileReload: true
          # policies-csv-file: ./rbac/rbac-policies.csv
          # conditionalPoliciesFile: ./rbac-conditions/rbac-conditional-policies.yaml
          admin:
            superUsers:
              - name: user:default/christoph-jerolimov
            users:
              - name: user:default/rhdh-qe

  # reduce memory usage
  postgresql:
    primary:
      resources:
        requests:
          cpu: 250m
          memory: 256Mi
        limits:
          cpu: 250m
          memory: 256Mi
