global:
  dynamic:
    plugins: []

upstream:
  backstage:
    image:
      registry: quay.io
      repository: rhdh-community/rhdh
      tag: pr-3947
      pullPolicy: Always

    appConfig:
      catalog:
        rules:
          - allow: [Component, System, API, Resource, Location]
        locations:
          - type: url
            target: https://github.com/christoph-jerolimov/rhdh-experiments/blob/main/catalog/all.yaml
            rules:
              - allow: [Component, System, API, Resource, Location, User, Group]
          - type: url
            target: https://github.com/christoph-jerolimov/rhdh-experiments/blob/main/features/github/catalog.yaml
            rules:
              - allow: [Component, System, API, Resource, Location, User, Group]
          - type: url
            target: https://github.com/redhat-developer/rhdh/blob/main/catalog-info.yaml
          - type: url
            target: https://github.com/redhat-developer/rhdh-cli/blob/main/catalog-info.yaml

      i18n:
        locales:
          - en
          - de
          - fr
          - it
          - ja
          - ko
          - en-US
          - en-IN
          - en-UK
          - zh
          - pt-BR
          - zh-CN

      permission:
        enabled: true
        rbac:
          pluginsWithPermission:
            - catalog
            - permission
            - scaffolder
          # policyFileReload: true
          # policies-csv-file: ./rbac/rbac-policies.csv
          # conditionalPoliciesFile: ./rbac-conditions/rbac-conditional-policies.yaml
          admin:
            superUsers:
              - name: user:default/christoph-jerolimov
            users:
              - name: user:default/rhdh-qe

  # reduce memory usage
  postgresql:
    primary:
      resources:
        requests:
          cpu: 250m
          memory: 256Mi
        limits:
          cpu: 250m
          memory: 256Mi
